@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */
header {
    /* background: yellow; */
    background: black;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    color: white;
    z-index: 1;
}

.logo-image {
    display: flex;
    align-items: center;
    gap: 10px;
    animation: showUp 0.7s forwards;
    animation-delay: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.list-menu {
    display: flex;
    gap: 25px;
}

.list-menu li {
    list-style: none;
    animation: showUp 0.7s forwards;
    opacity: 0;
    transform: translateY(20px);
}

.list-menu li:nth-child(1) {
    animation-delay: 0.5s;
}

.list-menu li:nth-child(2) {
    animation-delay: 0.5s;
}

.list-menu li:nth-child(3) {
    animation-delay: 0.5s;
}

.list-menu li:nth-child(4) {
    animation-delay: 0.5s;
}

.list-menu li:nth-child(5) {
    animation-delay: 0.5s;
}

.list-menu li a {
    text-decoration: none;
    font-weight: 600;
    color: #999999;
    transition: 0.25s;
}

.list-menu li a:hover{
    color: white;
}

.list-menu li .active {
    color: white;
}
/* END OF HEADER */

/* MAIN CONTENT 1*/
main {
    background: black;
    padding: 0 100px;
    width: 100%;
}

.content-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-one::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 0px;
    background: #6633FF;
    margin-left: -30px;

    animation: showHeight80px 1.5s ease-in-out forwards;
    animation-delay: 1.5s;
}

.hello-text {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    color: white;
    animation: showUp 0.7s forwards;
    animation-delay: 0.8s;
    opacity: 0;
    transform: translateY(20px);
}
.name-text {
    font-size: 20px;
    font-weight: 300;
    color: #999999;
    animation: showUp 0.7s forwards;
    animation-delay: 1s;
    opacity: 0;
    transform: translateY(20px);
}
.right {
    position: relative;
}

.image-one {
    margin: 20px 0;
    padding: 20px 0;
    width: 400px;
    animation: 
        showFade 0.7s forwards,
        bouncing 3s ease-in-out alternate-reverse infinite;
    animation-delay: 1.7s;
    opacity: 0;
}

.list-button-top {
    margin: 20px 0;
}

.list-button-top button {
    padding: 5px 10px 5px 5px;
    border-radius: 10px;
    cursor: pointer;
    border-bottom: 0;
}

.list-button-top .create-human-key {
    border: 1px solid rgba(71, 93, 237, 0.2);;
    color: #9C8EF4;
    background-color: rgba(14, 41, 219, 0.194);
    box-shadow: rgba(194, 205, 251, 0) 0px 0px 0px 0px;
    animation: showFade 0.7s forwards;
    animation-delay: 1.9s;
    opacity: 0;
}

.list-button-top .create-human-key:hover {
    border-style: 1px solid white;
}

.list-button-bottom {
    display: flex;
    gap: 8px;
    margin-top: 12px;
}

.list-button-bottom button {
    padding: 8px 12px;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 600;
}

.list-button-bottom .prove-person {
    border: 1px solid #6666FF;
    background-color: #6633FF;
    color: white;
    animation: showUp 0.7s forwards;
    animation-delay: 1.2s;
    opacity: 0;
}

.list-button-bottom .prove-person:hover {
    background-color: #4b1eb3;
    border: 1px solid #4b1eb3;
    color: white;
    transition: 0.5s;
}

.list-button-bottom .request-demo {
    border: none;
    background-color: inherit;
    color: #999999;
    animation: showUp 0.7s forwards;
    animation-delay: 1.3s;
    opacity: 0;
    transform: translateY(20px);
}

.list-button-bottom .request-demo:hover {
    background-color: #45454A;
    color: white;
    transition: 0.5s;
}
/* END OF MAIN CONTENT 1 */

/* MAIN CONTENT 2*/
.content-two {
    margin-top: 10px;
    overflow: hidden;
    padding: 5px 20px 20px;
    white-space: nowrap;
    position: relative;
    animation: showFade 0.7s forwards;
    animation-delay: 1.9s;
    opacity: 0;
}

.content-two:before,
.content-two:after {
    content: '';
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    z-index: 2;
}

.content-two::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
}

.content-two::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
}

.content-two:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 30s slide infinite linear;
}


.logos-slide img {
    height: 50px;
    margin: 0 40px;
}
/* END OF MAIN CONTENT 2 */

/* MAIN CONTENT 3*/
.content-three {
    background-color: #6633FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    animation: showUp 0.7s forwards;
    animation-delay: 2.3s;
    opacity: 0;
}

.content-three .three-text1 {
    font-size: 50px;
    font-weight: 600;
}
/* END OF MAIN CONTENT 3 */

/* FOOTER */
footer {
    color: white;
    overflow: hidden;
}

.main-footer {
    background: #333333;
    bottom: 0;
    width: 100%;
    padding: 0 100px;
    border-radius: 0;
}

/* TOP FOOTER */
.top-footer {
    display: flex;
    padding: 40px 0;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.logo-box {
    max-width: 250px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.logo-title {
    font-size: 32px;
}

.label-menu {
    font-weight: 600;
    position: relative;
    width: fit-content;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.label-menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgb(255,255,255,0.3);
    bottom: 0;
}

.menu-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.menu-box a {
    text-decoration: none;
    color: #C2C4C8;
    position: relative;
    left: 0;
    bottom: 0;
    transition: 0.25s;
}

.menu-box a:hover {
    left: 1px;
    bottom: 1px;
    color: white;
}
/* END OF TOP FOOTER */

/* BOTTOM FOOTER */
.bottom-footer {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-top: solid 2px rgb(255,255,255,0.05);
}

.social-media {
    display: flex;
    gap: 24px;
}

.social-media i {
    text-decoration: none;
    font-size: 32px;
    color: #C2C4C8;
    bottom: 0;
    transition: 0.25s;
}

.social-media i:hover {
    bottom: 3px;
    color: white;
}

/* END OF BOTTOM FOOTER */
/* END OF FOOTER */

/* ANIMATION */
@keyframes showUp {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes showFade {
    to {
        opacity: 1;
    }
}

@keyframes showHeight80px {
    to {
        height: 80px;
    }
}

@keyframes bouncing {
    from {
        transform: translateY(0px);
    } to {
        transform: translateY(10px);
    }
}

@keyframes slide {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-100%);
    }
}
/* END OF ANIMATION  */

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
}

/* RESPONSIVE SCREEN */

@media screen and (max-width: 768px) {
    header {
        padding: 0 20px;
    }

    .menu-icon {
        display: block;

        animation: showFade 1s forwards;
        animation-delay: 1s;
        opacity: 0;
    }

    .menu-icon i {
        font-size: 30px; /* Smaller icon size for smaller screens */
        cursor: pointer;
    }

    .menu-icon .bx-x {
        display: none;
    }

    #menu-toggle:checked + .menu-icon .bx-menu {
        display: none;
    }

    #menu-toggle:checked + .menu-icon .bx-x {
        display: block;
    }

    .list-menu {
        background: rgb(255,255,255,0.3);
        position: absolute;
        top: 60px; /* Adjust top position for smaller headers */
        left: 0;
        padding: 0 15px;
        width: 100%;
        flex-direction: column;
        height: 0px;
        border-radius: 0 0 20px 20px; /* Reduce border radius */
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Softer shadow */
        backdrop-filter: blur(20px);
        overflow: hidden;
        transition: height 0.5s ease, padding 0.5s ease; /* Animate padding as well */
    }

    #menu-toggle:checked ~ .list-menu {
        height: 200px; /* Smaller menu height */
        padding: 15px; /* Reduced padding */
    }

    main {
        flex-direction: column-reverse;
        align-items: start;
        justify-content: space-evenly;
        padding: 0 20px;
        padding-top: 60px; /* Adjust top padding */
    }

    .image-one {
       display: none;
    }

    .main-footer {
        padding: 0 20px; /* Consistent padding */
    }
    .bottom-footer {
        flex-direction: column;
        gap: 20px; /* Adjust gap for smaller screens */
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        padding: 0 40px; /* Adjust padding for tablet screens */
    }

    .main-footer {
        padding: 0 40px; /* Consistent padding */
    }

    .logo-box {
        min-width: 100%;
    }
}

